body {
  background-color: peachpuff;
}
h1 {
  color: maroon;
  
}

p {
  color: maroon;
}
.p1 {
  color: blue;
  right: 20 px;
}

.p2 {
  color: maroon;
}


.p3 {
  color: maroon;
}

